{% extends "bootstrap.html.twig" %}

{% block body %}

<h1 class="text-center mb-5 mt-5">Liste des véhicules</h1>

<div class="text-center">
    <a href="{{path("new_vehicule")}}" class="btn btn-outline-primary my-3">Ajouter un nouveau véhicule</a>
</div>

<table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>#id</th>
                <th>nom</th>
                <th>modele</th>
                <th>description</th>
                <th>date</th>
                <th>image</th>
                <th>statut</th>
            </tr>
        </thead>
    

<tbody>
    
    {% for key, value in vehicules %}
        <tr>
            <td>{{value.id}}</td>
            <td>{{value.nom}}</td>
            <td>{{value.modele}}</td>
            <td>{{value.description}}</td>
            <td>{{value.dateCreation|date('d-m-Y')}}</td>
            <td><img src="{{value.image}}" style=" height:100px; width:12rem"></td>
            <td>  {% if value.EnVente == 1 %}
                en vente
            {% else %}
                vendu
            {% endif %}</td>
            <td>
                <a href="{{path("update_vehicule", {id: value.id})}}", class="btn btn-outline-warning">Modifier</a>
                <a href="{{path("delete_vehicule", {id: value.id})}}", class="btn btn-outline-danger">Supprimer</a> 
            </td> 
        </tr>
    {% endfor %}
</tbody>

</table>
{% endblock %}




