<header class="">
    <nav class="navbar navbar-expand navbar-light  d-flex justify-content-center" style="background-color: #e3f2fd;">
        <span class="navbar-brand">
        Projet
        </span>
        <ul class="navbar-nav">



            {% if app.user %}
            <li class="nav-item">
                <a href="{{path('home')}}" class="nav-link">Accueil</a>
            </li>
            
            <li class="nav-item">
                <a href="{{path('index_vehicule')}}" class="nav-link">Gérer les véhicules</a>
            </li>
            <li class="nav-item">
                <a href="{{path('index_user')}}" class="nav-link">Gérer les comptes</a>
            </li> 

            <li class="nav-item">
                <a href="{{path('app_logout')}}" class="nav-link">Se déconnecter</a>
            </li> 

            {% else %}
             <li class="nav-item">
                <a href="{{path('home')}}" class="nav-link">Accueil</a>
            </li>
        
            <li class="nav-item">
                <a href="{{path('app_login')}}" class="nav-link">Se Connecter</a>
            </li>  
            {% endif %}  
           
        </ul>
    </nav>

</header>